<?xml version="1.0" encoding="UTF-8"?>
<!-- Logger Level TRACE < DEBUG < INFO < WARN < ERROR -->
<!-- The configuration file is modified within 1 minutes after the re loading -->
<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- Console Info -->
    <appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <!-- Format %d - date %thread - threadName %-5levelLevel - from the tree
                shows the width of 5 characters %msg - log info %n - newlines -->
            <pattern>%d %-1level %logger[%file:%line] - %msg %n</pattern>
        </encoder>
    </appender>
    <logger name="com.cheyipai" additivity="false">
        <level value="INFO"/>
        <appender-ref ref="Console"/>
    </logger>
    <logger name="org.apache">
        <level value="WARN"/>
        <appender-ref ref="Console"/>
    </logger>
    <logger name="org.apache.curator.framework.state.ConnectionStateManager">
        <level value="ERROR"/>
        <appender-ref ref="Console"/>
    </logger>
    <logger name="backtype.storm">
        <level value="WARN"/>
        <appender-ref ref="Console"/>
    </logger>
    <logger name="storm.kafka">
        <level value="ERROR"/>
        <appender-ref ref="Console"/>
    </logger>
    <!-- Console -->
    <root level="DEBUG">
        <appender-ref ref="Console"/>
    </root>
</configuration>